html,body {
	width: 100%;
	height:100%;
}

body {
	margin: 0px;
	padding: 0px;
	color: rgb(240,240,240);
	font-family: "DejaVuSansMono";
	font-size: 14px;
	line-height: 1.42857143;
	background: rgb(15,15,15) url('../img/art/Background.jpeg') top center;
	cursor: url('../img/cursor/default.png'), auto;
	
	
}

input[type="text"] {
	padding: 4px 8px;
	color: inherit;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 3px;
	background-color: rgb(25, 25, 25);
	box-shadow: 0px 0px 2px rgb(0, 0, 0) inset;
	box-sizing: border-box;
}
::-webkit-input-placeholder {opacity:  0.1;}
:-moz-placeholder {opacity:  0.1;}
::-moz-placeholder {opacity:  0.1;}
:-ms-input-placeholder {opacity:  0.1;}

button[type="button"],button[type="submit"],button[type="reset"] {
	padding: 4px 8px;
	border-radius: 3px;
	background: rgb(73, 80, 84) linear-gradient(to bottom, rgb(78, 85, 89), rgb(56, 62, 67));
	box-shadow: 0px 1px rgba(255, 255, 255, 0.08) inset, 0px 0px 0px 1px rgba(255, 255, 255, 0.05) inset;
	border: 1px solid;
	border-color: rgb(16, 16, 16) rgb(8, 8, 8) rgb(0, 0, 0);
	color: inherit;
	outline: 0;
	box-sizing: border-box;
	cursor: url('../img/cursor/pointer.png'), auto;
}
button[type="button"]:hover,button[type="submit"]:hover,button[type="reset"]:hover {
    background: rgb(89, 96, 101) linear-gradient(to bottom, rgb(89, 96, 101), rgb(56, 62, 67));
    text-decoration: none;
}

button[type="button"]:focus,button[type="submit"]:focus,button[type="reset"]:focus{
	outline: none;
}
button[type="button"]:active,button[type="submit"]:active,button[type="reset"]:active {
	background: rgb(53, 58, 63) linear-gradient(to bottom, rgb(39, 43, 47), rgb(55, 61, 66));
	border-color: rgb(0, 0, 0);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset, 0px 1px rgba(255, 255, 255, 0.08);
	outline: 0;
}
button::-moz-focus-inner {border: 0;}


/* loading screen */
#loadingWrap {
	position: fixed;
	background: rgba(0,0,0,0.4);
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:999;
	text-align: center;
	box-shadow: inset 0 0 8px 12px rgba(0,0,0,0.8);
}
#loadingWrap:before {
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align:middle;
}
#loadingBox {
	position:relative;
	display: inline-block;
	width: 500px;
	height: 480px;
	background-color: rgb(15,15,15);
	background-image:  url('../img/art/Goblin.png'),url('../img/art/BackgroundTile.png');
	background-repeat: no-repeat,repeat;
	background-position: center center,center center;
	border: 1px solid black;
    vertical-align: middle;
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.6);
}

#loadingZAR {
	position: absolute;
	background: url('../img/art/ZAR.png') center center no-repeat;
	width: 256px;
	height: 104px;
	right: 49px;
	bottom: 23px;
	transform: rotate(-15deg) scale(0.8, 0.6); 
}

#loadingBox > .preloaderCircle {
	position: absolute;
	top: 20px;
	right: 20px;
}

/* preloader circle */
.preloaderCircle {
	width:60px;
	height:60px;
}
.preloaderCircle:before,
.preloaderCircle:after {
	content: '';
	display:block;
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-left:5px solid rgba(0,0,0,0);
	border-right:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #2187e7;
	margin:0 auto;
}


.preloaderCircle:before {
	width:50px;
	height:50px;	
	animation:spinPulse 1s infinite ease-in-out;
}
.preloaderCircle:after { 
	width:30px;
	height:30px;
	position:relative;
	top:-50px;
	animation:spinoffPulse 1s infinite linear;
}

@keyframes spinPulse {
	0% { transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { transform:rotate(145deg); opacity:1; }
	100% { transform:rotate(-320deg); opacity:0; }
}
@keyframes spinoffPulse {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(360deg);  }
}

/*scene*/
#overview {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow:hidden;
}


#scene {
	position: absolute;
	width:3000px;
	height: 1200px;
}

#scene > div {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;	
}

#layerAnim {
	position: absolute;
}

/* meat */
#meatOverview {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow:hidden;
}

#meatScene {
	position: absolute;
	width:3000px;
	height: 3000px;
	background: url('../img/tile/ToyFactory_Multi-texturing_grass.jpg');
}

#meatScene > div {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#meatUi {
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left: 0;
	border: 2px dashed black;
}

#meatuISpriteTest {
	position: absolute;
	top: 120px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#meatuISpriteTestHeader > div {
	display: inline-block;
	vertical-align: top;
}

#meatuISpriteTestContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
}

#meatuISpriteTestContainer > div {
	display: inline-block;
	border: 1px dashed red;
	margin: 2px;
	padding: 3px;
	position: relative;
	font-size: 0;
	line-height: 0;
}

#meatuISpriteTestContainer > div > div {
	display: inline-block;
	position: relative;
}

#meatUiDirectionTable td,
#meatUiActionTable td {
	width: 20px;
	height: 20px;
	border: 1px solid white;
	background: rgb(15,15,15);
	text-align: center;
	vertical-align: middle;
}

#meatUiActionTable td {
	width: auto;
	padding: 0 12px;
}

#meatUiDirectionTable td.active,
#meatUiActionTable td.active {
	border-color: red;
}