.sprite {
	position: absolute;
	overflow: hidden;
}

.sprite:before {
	content: '';
	display:block;
	position: absolute;
	background-position: top left;
	background-repeat: no-repeat;
}

/* Flare */
.spriteFlare {
	width: 128px;
	height: 128px;
}

.spriteFlareOrc:before {
	width:  4096px;
	height: 1024px;
}

.spriteFlareGoblin:before {
	width:  6144px;
	height: 1024px;
}


.spriteFlare[data-direction="t"]:before {top:-256px}
.spriteFlare[data-direction="tl"]:before {top:-128px}
.spriteFlare[data-direction="tr"]:before {top:-384px}
.spriteFlare[data-direction="r"]:before {top:-512px}
.spriteFlare[data-direction="l"]:before {top:0px}
.spriteFlare[data-direction="b"]:before {top:-768px}
.spriteFlare[data-direction="bl"]:before {top:-896px}
.spriteFlare[data-direction="br"]:before {top:-640px}

/* orc anim */
.spriteFlareOrc[data-action="stand"]:before {animation: spriteFlareOrcStand 0.8s steps(4) infinite;}
.spriteFlareOrc[data-action="run"]:before {animation: spriteFlareOrcRun 0.6s steps(8) infinite;}
.spriteFlareOrc[data-action="attack"]:before {animation: spriteFlareOrcAttack 0.6s steps(4) infinite;}
.spriteFlareOrc[data-action="death"]:before {animation: spriteFlareOrcDeath 0.8s steps(8) infinite;}
.spriteFlareOrc[data-action="spell"]:before {animation: spriteFlareOrcSpell 0.6s steps(4) infinite;}
.spriteFlareOrc[data-action="throw"]:before {animation: spriteFlareOrcThrow 0.8s steps(4) infinite;}

@keyframes spriteFlareOrcStand {0%{left:0px} 100%{left:-512px}}
@keyframes spriteFlareOrcRun {0%{left:-512px} 100%{left:-1536px}}
@keyframes spriteFlareOrcAttack {0%{left:-1536px} 100%{left:-2048px}}
@keyframes spriteFlareOrcDeath {0%{left:-2048px} 100%{left:-3072px}}
@keyframes spriteFlareOrcSpell {0%{left:-3072px} 100%{left:-3584px}}
@keyframes spriteFlareOrcThrow {0%{left:-3584px} 100%{left:-4096px}}


/*goblin anim */
.spriteFlareGoblin[data-action="stand"]:before {animation: spriteFlareGoblinStand 10.8s steps(48) infinite;}
.spriteFlareGoblin[data-action="run"]:before {animation: spriteFlareGoblinRun 0.6s steps(8) infinite;}
.spriteFlareGoblin[data-action="attack"]:before {animation: spriteFlareGoblinAttack 0.6s steps(4) infinite;}
.spriteFlareGoblin[data-action="death"]:before {animation: spriteFlareGoblinDeath 0.8s steps(8) infinite;}
.spriteFlareGoblin[data-action="spell"]:before {animation: spriteFlareGoblinSpell 0.6s steps(4) infinite;}
.spriteFlareGoblin[data-action="throw"]:before {animation: spriteFlareGoblinThrow 0.8s steps(4) infinite;}

@keyframes spriteFlareGoblinStand {0%{left:0px} 100%{left:-6144px}}
@keyframes spriteFlareGoblinRun {0%{left:-512px} 100%{left:-1536px}}
@keyframes spriteFlareGoblinAttack {0%{left:-1536px} 100%{left:-2048px}}
@keyframes spriteFlareGoblinDeath {0%{left:-2048px} 100%{left:-3072px}}
@keyframes spriteFlareGoblinSpell {0%{left:-3072px} 100%{left:-3584px}}
@keyframes spriteFlareGoblinThrow {0%{left:-3584px} 100%{left:-4096px}}



.spriteFlareOrcRegular:before {background-image: url('../img/sprite/FlareOrcRegular128x128.png');}
.spriteFlareOrcArcher:before {background-image: url('../img/sprite/FlareOrcArcher128x128.png');}
.spriteFlareOrcHeavy:before {background-image: url('../img/sprite/FlareOrcHeavy128x128.png');}
.spriteFlareOrcElite:before {background-image: url('../img/sprite/FlareOrcElite128x128.png');}

.spriteFlareZombie:before {background-image: url('../img/sprite/FlareZombie128x128.png');}
.spriteFlareZombiePirate:before {background-image: url('../img/sprite/FlareZombiePirate128x128.png');}


.spriteFlareSceletonOccultist:before {background-image: url('../img/sprite/FlareSceletonOccultist128x128.png');}
.spriteFlareSceletonKnight:before {background-image: url('../img/sprite/FlareSkeletonKnight128x128.png');}
.spriteFlareSceletonMage:before {background-image: url('../img/sprite/FlareSkeletonMage128x128.png');}


.spriteFlareMinotaur:before {background-image: url('../img/sprite/FlareMinotaur128x128.png');}
.spriteFlareHorse:before {background-image: url('../img/sprite/FlareHorse128x128.png');}
.spriteFlareWerewolf:before {background-image: url('../img/sprite/FlareWerewolf128x128.png');}


.spriteFlareGoblinCharger:before {background-image: url('../img/sprite/FlareGoblinCharger128x128.png');}
.spriteFlareGoblinShaman:before {background-image: url('../img/sprite/FlareGoblinShaman128x128.png');}
.spriteFlareGoblinSpearman:before {background-image: url('../img/sprite/FlareGoblinSpearman128x128.png');}
.spriteFlareGoblinSpearmanElite:before {background-image: url('../img/sprite/FlareGoblinSpearmanElite128x128.png');}
.spriteFlareHobgoblinBow:before {background-image: url('../img/sprite/FlareHobgoblinBow128x128.png');}
.spriteFlareHobgoblinKnife:before {background-image: url('../img/sprite/FlareHobgoblinKnife128x128.png');}












/*explosion x8 */
.explosionTemp {
	z-index: 1;
	width: 64px;
	height: 64px;
	position: absolute;
	overflow: hidden;
}

.explosionTemp:before {
	width:  1024px;
	height: 512px;
	right: 0;
	background: url('../img/sprite/explosion64_01.png');
	animation: expl 1s steps(17) infinite;
}

.explosionTemp.v1:before {top:0px}
.explosionTemp.v2:before {top:-64px}
.explosionTemp.v3:before {top:-128px}
.explosionTemp.v4:before {top:-192px}
.explosionTemp.v5:before {top:-256px}
.explosionTemp.v6:before {top:-320px}
.explosionTemp.v7:before {top:-384px}
.explosionTemp.v8:before {top:-448px}


@keyframes expl{
	0% {left:0px}
	100% {left:-1088px}
}

/* ball */
.spriteBall {
	z-index: 1;
	width: 135px;
	height: 45px;
	position: absolute;
	overflow: hidden;
}

.spriteBall:before {
	width:  675px;
	height: 45px;
	right: 0;
	background: url('../img/sprite/ball.png');
	animation: spriteBall 1s steps(5) infinite;
}

@keyframes spriteBall{
	0% {left:0px}
	100% {left:-675px}
}

/* meat */
.spriteMeat {
	z-index: 1;
	width: 185px;
	height: 133px;
	position: absolute;
	overflow: hidden;
}

.spriteMeat:before {
	width:  2414px;
	height: 133px;
	right: 0;
	background: url('../img/sprite/meat.png');
	animation: spriteMeat 1s steps(13) infinite;
}

@keyframes spriteMeat {
	0% {left:0px}
	100% {left:-2414px}
}